* {
  background-color: #000;
  box-sizing: border-box;
  color: #fff;
  font-family: "Geist", sans-serif;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  border-radius: 8px;
  background-color: #d3d3d2;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  height: 60px;
  width: 200px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headline {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.headline-details {
  color: #999999;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 70vw;
}

.home-content {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  min-height: 80vh;
  min-width: 100vw;
}

.gradient-header {
  background: linear-gradient(
    270deg,
    #d0097d,
    #781b7d,
    #00c6ff,
    #0072ff,
    #fa6834,
    #f2b225,
    #00c6ff,
    #d0097d,
    #781b7d
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 16s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

:root {
  --geist-foreground: #fff;
  --geist-background: #000;
  --accents-6: #999999;
  --accents-5: #888888;
  --accents-4: #666666;
  --accents-3: #444444;
  --accents-2: #333333;
  --accents-1: #111111;
}
