:root {
  --black: #111111;
  --grad-blue: linear-gradient(270deg, #0072ff, #00bfff);
  --grad-yellow: linear-gradient(270deg, #fa6834, #f2b225);
  --grad-pink: linear-gradient(270deg, #d0097d, #781b7d);
  --white: #fff;
  --accents-7: #a5a4a4;
  --accents-6: #999999;
  --accents-5: #888888;
  --accents-4: #666666;
  --accents-3: #444444;
  --accents-2: #333333;
  --accents-1: #111111;
}

* {
  background-color: var(--black);
  box-sizing: border-box;
  color: var(--accents-7);
  font-family: "Geist", sans-serif;
  padding: 0;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  /* margin-top: 100px; Note sure if needed */
}

.about-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.about-badge {
  background: var(--grad-blue);
}

.skills-badge {
  background: var(--grad-yellow);
}

.exp-badge {
  background: var(--grad-pink);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  color: var(--black);
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.about-details {
  text-align: center;
  max-width: 70%;
  margin: 30px auto;
}

.about-details p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  /* display: inline-block; */
  text-align: center;
  max-width: 90%;
  /* The magic happens with these styles */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about-label {
  background: var(--grad-blue);
}

.skills-label {
  background: var(--grad-yellow);
}

.exp-label {
  background: var(--grad-pink);
}

.label {
  background-clip: text;
  color: transparent;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.line {
  margin-top: 40px;
  width: 1px;
  height: 80px;
  opacity: 0.7;
}

.about-line {
  background: linear-gradient(
    to top,
    rgba(0, 191, 255, 0.8),
    rgba(0, 191, 255, 0)
  );
}

.skills-line {
  background: linear-gradient(
    to top,
    rgba(242, 178, 37, 1),
    rgba(0, 191, 255, 0)
  );
}

.exp-line {
  background: linear-gradient(to top, rgba(208 9 125), rgba(0, 191, 255, 0));
}

.about-heading {
  margin-top: -50px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
}

button {
  border: none;
  border-radius: 8px;
  background-color: var(--accents-6);
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  height: 60px;
  width: 200px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headline {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.headline-details {
  color: #999999;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 70vw;
}

.home-content {
  max-width: 80vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid red;
  justify-content: center;
  min-height: 80vh;
  min-width: 100vw;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 50px;
  width: 100vw;
}

.navbar-container {
  margin-top: 10px;
  align-items: center;
  border: 1px solid var(--accents-3);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  min-width: 20rem;
  z-index: 100;
}

.timeline-line {
  position: absolute;
  width: 2px;
  background-color: #555;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

li {
  display: inline;
}

section {
  border: 2px solid white;
  height: 100vh;
}

.gradient-header {
  background: linear-gradient(
    270deg,
    #d0097d,
    #781b7d,
    #00c6ff,
    #0072ff,
    #fa6834,
    #f2b225,
    #00c6ff,
    #d0097d,
    #781b7d
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 16s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
