:root {
  --black: #111111;
  --grad-blue: linear-gradient(270deg, #0072ff, #00bfff);
  --grad-yellow: linear-gradient(270deg, #fa6834, #f2b225);
  --grad-pink: linear-gradient(270deg, #d0097d, #781b7d);
  --white: #fff;
  --accents-7: #a5a4a4;
  --accents-6: #999999;
  --accents-5: #888888;
  --accents-4: #666666;
  --accents-3: #444444;
  --accents-2: #333333;
  --accents-1: #111111;
  --accents-0: #1a1a1a;

  scrollbar-color: var(--accents-2) transparent;
}

* {
  background-color: var(--black);
  box-sizing: border-box;
  color: var(--accents-7);
  font-family: "Geist", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 200px;
  margin-bottom: 40px;
  min-width: 80%;
  max-width: 80%;
}

.exp-section {
  padding-top: 50px;
  height: 100%;
}

.exp-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid var(--accents-2);
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 100%;
  padding: 2rem;
}

.animate-from-left {
  animation: slideFromLeft 0.8s ease-out forwards;
}

.animate-from-right {
  animation: slideFromRight 0.8s ease-out forwards;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  70% {
    transform: translateX(-10px);
  }
  85% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  70% {
    transform: translateX(10px);
  }
  85% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.experience-details::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 99%;
  background-color: var(--accents-2);
  top: 0;
  bottom: 0;
  left: 50%;
  /* margin-left: -1px; */
  transform: translateX(-50%);
  z-index: 5;
}

.about-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.about-badge {
  background: var(--grad-blue);
}

.skills-badge {
  background: var(--grad-yellow);
}

.exp-badge {
  background: var(--grad-pink);
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  color: var(--black);
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

.about-details {
  text-align: center;
  max-width: 70%;
  margin: 30px auto;
}

.about-details p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 0;
  /* display: inline-block; */
  text-align: center;
  max-width: 90%;
  /* The magic happens with these styles */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.about-label {
  background: var(--grad-blue);
}

.skills-label {
  background: var(--grad-yellow);
}

.exp-label {
  background: var(--grad-pink);
}

.label {
  background-clip: text;
  color: transparent;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2rem;
}

.line {
  margin-top: 40px;
  width: 1px;
  height: 80px;
  opacity: 0.7;
}

.about-line {
  background: linear-gradient(
    to top,
    rgba(0, 191, 255, 0.8),
    rgba(0, 191, 255, 0)
  );
}

.experience-details {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0;
}

.svg-parent-container {
  width: 100%;
  max-width: 54rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.svg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.svg-container p {
  background: linear-gradient(
    to top,
    rgba(242, 178, 37, 1),
    rgba(0, 191, 255, 0)
  );
  background-clip: text;
  transition: 0.2s;
}

.svg-container svg {
  transition: 0.2s;
}

.svg-container:hover p {
  color: rgba(242, 178, 37, 1);
  /* color: linear-gradient(
    270deg,
    #d0097d,
    #781b7d,
    #00c6ff,
    #0072ff,
    #fa6834,
    #f2b225,
    #00c6ff,
    #d0097d,
    #781b7d
  );
  animation: gradientShift 16s ease infinite; */
}

.svg-container:hover svg {
  fill: url(#myGradient);
}

.skills-line {
  background: linear-gradient(to top, rgba(242, 178, 37, 1), rgb(250, 104, 52));
}

.exp {
  background: linear-gradient(to top, rgba(208 9 125));
}

.about-heading {
  margin-top: -50px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
}

button {
  border: none;
  border-radius: 8px;
  background-color: var(--accents-6);
  color: var(--black);
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  height: 60px;
  width: 200px;
}

.contact-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.headline {
  color: var(--white);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
}

.headline-details {
  color: #999999;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  text-align: center;
  width: 70vw;
}

.home-content {
  max-width: 80vw;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(80vh = 20px);
  min-width: calc(100vw - 16px);
  z-index: -9;
}

.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 60px;
  width: 100vw;
  z-index: 10000;
}

.navbar-container {
  margin-top: 20px;
  align-items: center;
  border: 1px solid var(--accents-3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30rem;
  z-index: 10000;
}

.project-tiles {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
  padding: 30px;
}

.project-tile {
  background-color: var(--accents-0) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 180px;
  width: 245px;
  height: 280px;
  transition: 0.5s;
}

.project-tile:hover {
  cursor: pointer;
  box-shadow: 0 0 3px black;
  margin-top: -10px;
  span {
    color: #00bfff;
  }
}

.project-title-header {
  background: var(--accents-0);
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.project-content {
  background-color: var(--accents-0) !important;
  width: 100%;
  height: 80%;
  margin-top: 10px;
  padding: 10px;
}

.project-content span {
  background-color: var(--accents-0) !important;
  font-weight: 600;
}

.project-content p {
  font-family: "Geist", sans-serif;
  margin-top: 10px;
  background-color: var(--accents-0) !important;
  font-size: 0.7rem;
}

.project-title-header svg {
  background-color: var(--accents-0) !important;
}

.svg-left-box {
  background-color: var(--accents-0) !important;
  padding-top: 27px;
  padding-left: 10px;
}

.svg-right-box {
  padding-top: 34px;
  padding-right: 10px;
  background-color: var(--accents-0) !important;
  margin-left: auto;
}

.text-box {
  position: relative;
  width: 50%;
  padding: 2rem;
}

.text-box img {
  border-radius: 50%;
  right: -30px;
  top: 125px;
  color: var(--accents-7);
  position: absolute;
  width: 3rem;
  height: 5rem;
  z-index: 10;
}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.right-container img {
  left: -30px;
}

.timeline-line {
  position: absolute;
  width: 2px;
  background-color: #555;
  top: 0;
  bottom: 0;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

li {
  display: inline;
}

section {
  /* border: 2px solid white; */
  height: 100vh;
}

.gradient-header {
  background: linear-gradient(
    270deg,
    #d0097d,
    #781b7d,
    #00c6ff,
    #0072ff,
    #fa6834,
    #f2b225,
    #00c6ff,
    #d0097d,
    #781b7d
  );
  background-size: 1000% 1000%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientShift 16s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
